<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/simple.css" />
    <title>DEV TEST</title>
  </head>
  <body>
    <header>
      <nav></nav>
      <h1>My test header</h1>
      <p>Subheading</p>
    </header>
    <main>
      <p class="notice">Test notice</p>
    </main>

    <footer>
      <p>HP's website. Written using HTMX, hyperscript and Go</p>
    </footer>
  </body>
</html>
